.content{
    width: 99vw;
    justify-content: center;
    padding-left: 3%;
    margin-top: 5%;
    background-color: lightgray;
    padding-bottom: 10px;
    padding-top: 10px;
}
.column1{
    background-color: darkcyan;
    color: white;
}
.column2{
    background-color: white;
}
.column3{
    background-color: white;
}
.column4{
    background-color: white;
}
.column5{
    background-color: white;
}
.column{
    width: 17%;
    height: auto;
    display: inline-grid;
    padding-top: 20px;
    border-radius: 10px;
    padding-left: 10px;
    transition: 0.5s;
}
body{
    overflow-y: hidden;
}
.header{
    height: 60px;
    color: white;
    margin-bottom: 5px;
    width: 100%;
}
.title{
    background-color: darkcyan;
    padding-left: 10px;
    display: -webkit-inline-box;
    width: 17%;
    height: inherit;
}
.title p{
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.row1{
    height: 50px;
}
.row2{
    height: 50px;
}
.row3{
    height: 150px;
}
@media (max-width: 1349px){
    .row3{
        height: 200px;
    }
}
@media (max-width: 1160px){
    .row3{
        height: 250px;
    }
}
.row4{
    height: 50px;
}
.row5{
    height: 50px;
}
.row6{
    height: 50px;
}
.row7{
    height: 50px;
}
.blank{
    background-color: lightgray;
    margin: 0;
}
.image{
    z-index: 1;
    width: 10%;
    margin-left: 2%;
}
.locked{
    display: none;
}
@media (max-device-width: 400px){
    .content{
        width: 2000px;
    }
}